fastapi
uvicorn
SQLAlchemy
psycopg2-binary
alembic
PyJWT
python-decouple
passlib
bcrypt
python-jose
cryptography
python-multipart
pydantic-settings
SQLAlchemy-Utils
requests
httpx
pytest
pyrebase4
python-multipart
sentry-sdk[fastapi]